BOT_TOKEN = 123...:AAAA...
TEST_POSTGRES_URL = postgresql+asyncpg://postgres:admin@localhost:5432/studying_bot_test_db
ADMIN_IDS = [123...]
DEVELOPER_ID = 123...

DB_USER = postgres
DB_PASSWORD = admin
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = studying_bot

REDIS_HOST = localhost
REDIS_PORT = 6379

PYTHONPATH=.